SpawnPositions:
  - Location: { X: -1238.0, Y: -1840.0, Z: 2.5 }
    Heading: 320.0
  - Location: { X: -1385.0, Y: -1628.0, Z: 2.5 }
    Heading: 328.0
  - Location: { X: -1530.0, Y: -1280.0, Z: 2.0 }
    Heading: 269.0
LogConfig:
  LogsPath: "D:/FiveM/FXServer/logs"
  LogLevel: 2 # Trace - 0, Debug - 1, Info - 2, Warn - 3, Error - 4, Fatal - 5